.debug{
  background-color: rgba(255, 0, 0, .4);
  border: 1px solid black;
}

a{
  color: white;
}

body{
  font-family: Helvetica, sans-serif;
}

header .jumbotron{
  background-image: url(img/jumbo-bg.png);
  margin-top: 80px;
}

.jumbotron{
  height: 600px;
  background-position: center;
  background-size: cover;
}

.jumbotron .jumbo-text{
  width: 400px;
}

.jumbotron .jumbo-text img{
  width: 300px;
}

/* Main */

.lm-card img{
  border-radius: 15px;
  margin: 20px 0;
}

.lm-ps5 .lm-higlight{
  color: #0b77cf;
  font-size: 13px;
}

main .jumbotron{
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

main section.lm-new-releases{
  background-color: #1f1f1f;
}

/* PlayStation Plus */

section.lm-plus{
  background-color: #bdbcba;
}

section.lm-plus .lm-plus-text button{
  color: #0b5ed7;
  background-color: rgb(217, 218, 220);
}

/* PS Now */

section img.lm-ps-logo{
  width: 400px;
}

section.lm-ps-now{
  background-color: #161c3c;
}

/* Social Media */

section.lm-social-media{
  max-width: 700px;
  margin: auto;
}

/* Footer */

footer {
  background-color: #00439c;
}

footer .lm-footer-top li{
  line-height: 35px;
}

footer .lm-footer-top ul{
  list-style: none;
  padding: 0;
}

footer .lm-footer-top-logo{
  width: 150px;
}

footer .lm-footer-bottom-logo{
  width: 200px;
}

footer .lm-sublogo {
  width: 30px;
  padding: 40px 0;
}


/* Text grey */

.lm-subtitle{
  color: grey;
}

/* Immagini 100% */

img{
  width: 100%;
}

/* Hover */

.lm-ps5-gadget:hover{
  opacity: 1 !important;
  cursor: pointer;
}